body{
	font-size: 17px;
	font-family: arial;
	background: #f4f4f4;
    line-height: 1.5em;
}
    .jumbotron {
  background: url('assets\images\Linden-Gledhill_06.jpg');
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center;
}

header{
	background: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	border-bottom: 4px #000 solid;
	margin-bottom: 10px;
}
#container{
	width: 90%;
	margin: auto;
	padding: 10px;
}
