body{
	background-color: rgb(20, 136, 182);
	background-image: url("../images/Linden-Gledhill_06.jpg");
	background-repeat: no-repeat !important;
	background-size: auto !important;
	background-position: center;
	background-blend-mode: exclusion;
	margin: auto;
	font-size: 17px;
	font-family: arial;
  line-height: 1.5em;
}
.jumbotron {
	background-color: black;
	opacity: .7;
	color: white;
	margin: auto;
	padding: auto;
}

header{
	background: #333;
	color: rgb(230, 152, 9);
	padding: 20px;
	text-align: center;
	border-bottom: 4px #000 solid;
	margin-bottom: 10px;
}

@media (max-width: 960px) {
	.row div .card-image {
		align-content: space-between;
	}
}
@media (max-width: 582px) {
	.row div .card-image {
		align-content: space-around;
		max-width: 600px;
		height: 327px;
	}
}
@media (max-width: 568px) {
	.row div .card-image {
		align-content: space-between;
		width: 500px;
		height: 275px;
	}
}

/* .jumbotron{
	width: 90%;
	margin: auto;
	padding: 10px;
} */
